body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(http://cdn.wallpapersafari.com/72/44/T3OCyI.jpg);
    background-attachment: fixed;
}

.one {
    margin:0px 250px 0px 250px;
}
.two {
    margin:0px 250px 0px 250px;

}
.three {
    margin:0px 250px 0px 250px;

}
.for {
    margin:0px 250px 0px 250px;
}
.five {
    margin: 0px 250px 0px 250px;
}